.App {
  text-align: center;
  background: #606060;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Home {
  text-align: center;
  background: #b5b5b5;

  top: 10vh;
  margin-top: 7vh;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;


}

.Home ul {
  list-style-type: none;
  flex-flow: column wrap;

}



.TopBar {
  position: fixed;
  flex: 2;
  height: 7vh;
  width: 100vw;
  top: 0vh;
  padding: 0%;
  background: #3f3f3f;
  text-align: center;
  z-index: 1;

}

.noClick{
  font-size: 200%;
  line-height: 106%;
}


.TopBar .noClick:hover {
  cursor: default;
}

nav button {
  text-decoration: none;
  position: relative;
  margin-right: 1vw;
  top: 1vh;
  font-family: 'Fenix';
  font-style: normal;
  font-weight: 400;
  font-size: 200%;
  line-height: 106%;
  text-align: center;
  align-self: center;
  color: #FFFFFF;
  border: none;
  background: #3f3f3f;

}

.TopBar button:hover {
  cursor: pointer;
}

.logout {
  position: fixed;
  float: right;
  top: -1vh;
  right: 0vw;
  text-decoration: none;
  margin-right: 1vw;
  top: 1.5vh;
  font-family: 'Fenix';
  font-style: normal;
  font-weight: 400;
  font-size: 200%;
  line-height: 105%;
  text-align: center;
  color: #FFFFFF;
  border: none;
  background: #3f3f3f;
}

.logout:hover {
  color: #d4472d;

}

.logout:active {
  color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

.profile {
  position: fixed;
  float: right;
  top: 1vh;
  right: 0vw;
  text-decoration: none;
  margin-right: 5vw;
  font-family: 'Fenix';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  height: 42px;
  width: 42px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  background: #3b6a61;
  border-radius: 50%;
}

.profile:hover {
  color: #C1E1C1;
  background: #4a857a;

}

.profile:active {
  background: #4a857a;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

.profile-image {
  position: relative;
  float: right;
  top: 1vh;
  right: 0vw;
  text-decoration: none;
  margin-right: 5vw;
  font-family: 'Fenix';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  height: 52px;
  width: 52px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  background: #3b6a61;
  border-radius: 50%;
}

.profile-input {
  display: block;
  min-width: 30%;
  height: 40px;
  align-self: center;

  /* margin-bottom: 30px; */

  color: #000000;
  background: rgba(55, 200, 171, 0.14);
  border: 1px solid #37C8AB;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.profileDiv {
  background: #dcdcdc7c;
  align-self: center;
  margin: auto;
  width: fit-content;
  height: 80%;
  margin-top: 7vh;
  padding: 1vw;
  border-radius: 15px;
}

.profileDiv ul {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
}

.profileDiv label {
  display: block;
  font-size: medium;
  color: #000000;
  width: 100px;
  text-align: start;
}


.TopBar a {
  text-decoration: none;
  position: relative;
  margin-right: 1vw;
  top: 1vh;
  font-family: 'Fenix';
  font-style: normal;
  font-weight: 400;
  font-size: 200%;
  line-height: 105%;
  text-align: center;
  align-self: center;
  color: #FFFFFF;
}

.TopBar a:hover {
  cursor: pointer;
}

.more {
  content: "\2600";
  color: black;
}

.PostEmpty {
  align-self: center;
  position: relative;
  margin-top: 1vh;
  min-width: 40%;

  background-color: #f5f5f5;
  border: 0.5px solid #01010154;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

}

.PostEmpty h4 {
  display: inline;

}

.Post {
  order: 5;
  align-self: center;
  position: relative;
  margin-top: 1vh;
  min-width: 800px;
  width: 60%;
  height: 100%;
  background-color: #f5f5f5;
  border: 0.5px solid #01010154;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 5px 5px ;
  display: inline-block;
  padding-bottom: 0.5%;
}

.navBarCollapse{
  display: none;
}

.profileCollapsed{
  display: none;
}
.logoutCollapsed{
  display: none;
}
.menuCollapsed{
  display: none;
}



.header {
  margin: 2vh;
  max-height: inherit;
  width: inherit;
  text-align: left;
}

.header h4 {
  height: 2vh;
  margin: 0;
  width: 60px;
}

.header p {
  display: inline;
}

.datum {
  height: 1vh;
  margin: 0;
  font-size: 12px;
  line-height: 10px;
  width: 120px;
}

.options {
  text-align: end;
  position: absolute;
  margin: 0;
  right: 1vw;
  top: 2vh;
  font-size: 28px;


}

.optionsButton {
  text-decoration: none;
  position: relative;
  margin-right: 1vw;
  top: 1vh;
  font-family: 'Fenix';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  align-self: center;
  color: #000000;
  border: none;
  background: none;
}


.optionsDrop {
  display: none;
  position: absolute;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.689);
  z-index: 2;
}

.optionsDrop button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.optionsButton:hover {
  cursor: pointer;
}

.options:hover .optionsDrop {
  display: block;
}

.options:active .optionsDrop {
  display: block;
}

.Upload {
  margin-top: 7vh;
}

.dropzone {
  display: block;
  text-align: center;
  align-self: center;
  max-width: 60vw;
  border: 3px dashed #403f3f;
  border-radius: 10px;
  background-color: #25907b9c;
  color: #bdbdbd;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 20vw;
}

.file-input {
  display: none;
}

@media screen and (max-device-width: 400px) and (min-device-width: 200px) {
  .file-input {
    display: block;
    margin: auto;
    margin-bottom: 5vh;
  }

  input[type=file]::file-selector-button {
    display: inline-block;
    margin: 5px;
    width: 40%;
    height: 40px;
    align-self: center;

    background: #25907B;
    border: 1px solid #25907B;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.112);
    border-radius: 10px;

  }

  .dropzone {
    display: none;
  }

}

.Post img {
  top: 2vh;
  min-width: 60%;
  max-width: 100%;
  max-height: 90%;

}

.wrapper {
  display: inline-flex;
  height: 50px;
  width: 300px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 5px 5px;
}

.wrapper .option {
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}

.wrapper .option .dot {
  height: 10px;
  width: 10px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}

.wrapper .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 2px;
  height: 2px;
  background: #25907b;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

input[type="radio"] {
  display: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2 {
  border-color: #25907b;
  background: #25907b;
}

#option-1:checked:checked~.option-1 .dot,
#option-2:checked:checked~.option-2 .dot {
  background: #fff;
}

#option-1:checked:checked~.option-1 .dot::before,
#option-2:checked:checked~.option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}

.wrapper .option span {
  font-size: 15px;
  color: #808080;
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span {
  color: #fff;
}

.btnTemplate {
  color: #ffffff;

}

.btnTemplate:hover {
  color: #4ac5a0;

}

.btnTemplate:active {

  box-shadow: 0 2px #666;
  transform: translateY(2px);

}

.btnmemes2 {
  color: #ffffff;

}

.btnmemes2:hover {
  color: #4ac5a0;

}

.btnmemes2:active {

  box-shadow: 0 2px #666;
  transform: translateY(2px);

}

.btnupload2 {
  color: #ffffff;

}

.btnupload2:hover {
  color: #4ac5a0;

}

.btnupload2:active {

  box-shadow: 0 2px #666;
  transform: translateY(2px);

}


.commentInput{
  color: #000000;
  border: none;
  height: 5vh;
  background: rgba(40, 42, 41, 0.14);
  width: 100%;
  outline: none;
  padding: 0;
}

.commentDropButton{
  display: none;
}
.commentDrop button:hover {
  cursor: pointer;
}



.commentSection{
  height: 40%;
  display: ruby-base;
}

.reactions{
  margin-bottom: 5px;
  width: 100%;  
  position: relative;

}

.reactionButton{
  position: relative;
  border: none;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;
  border-radius: 50%;
  background-color: none;
  background: none;
  text-overflow: hide;
  text-shadow: 0 0.5px rgba(0, 0, 0, 0.302);
}



.like{ 
  margin-right: 1%;
}
.like:hover{
  color: #258874; 
  text-shadow: 0 0.5px #2588747a; 
}
.like:visited{
  pointer-events: none;
}
.liked{
  color: #1b6153; 
  text-shadow: 0 0.5px #1b61537a;  
}

.liked:hover{
  color: #1b6153;  
}
.liked:visited{
  pointer-events: none;
}

.disLike{
  margin-right: 80%;
  
}
.disLike:hover{  
  color: #690101;
}


.disLiked{
  color: #690101;  
}
.disLiked:hover{
  color: #690101;  
}

*::-webkit-scrollbar {
  display: none;
}

.comments {
  background-color: #f5f5f5;
  max-height: 250px;
  overflow: auto;
  text-align: center;
  box-shadow: inset 0 0 10px #0000005e;  
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
}

.comments ul {
  display: flex;
  width: auto;
  padding: 0;
}

.comments li {
  display: inline-block;  
  background-color: #6060608f;
  border-radius: 15px 0px 0 15px;
  margin-top: 1vh;
  width: 100%;
  white-space: initial;
}


.commentOwner{
  background-image: linear-gradient(to right,#1b6161, #8FBA9E, #C1E1C1);
  border-radius: 15px 0px 0 15px;
  width: 20%;  
  height: 53px;
  margin: 0;
  padding: 0;
  float: left;
  overflow-wrap: break-word;
  overflow: auto;
  white-space: initial;
}

.commentText{
  background-image: linear-gradient(to right,#C1E1C1, #8FBA9E,  #819ab3);
  width: 80%;
  height: 53px;
  text-align: left;
  margin: 0;
  float: left;
  overflow: scroll;
  white-space: initial;
}

.LogoLogin{
width: 20%;
height: 32%;
left: 746px;
top: 61px;
margin: 5vh ;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.QRLogin{
  width: 20%;
  height: 25%;
  margin: 2vh;
}

.LogoCollapsed{
  display: none;
}

.Logo {
  position: absolute;
  width: 5%;
  height: 75%;
  left: 3vw;
  top: 1vh;
  margin: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h1 {
  margin: 0;
}

.label {
  display: block;
  font-size: medium;
  color: rgb(255, 255, 255);
  width: 100px;
  text-align: start;
  /* padding: 0.8%;
  margin-top: 0%;
  margin-left: -22%; */

}

.input {
  display: block;
  min-width: 30%;
  height: 40px;
  align-self: center;

  /* margin-bottom: 30px; */

  color: rgb(231, 237, 233);
  background: rgba(55, 200, 171, 0.14);
  border: 1px solid #37C8AB;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.input_div {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.input_div a {
  text-decoration: none;
  color: #f5f5f5;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.btn {
  display: inline-block;
  margin: 5px;
  width: 40%;
  height: 40px;
  align-self: center;
  background: #25907B;
  border: 1px solid #25907B;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.btn:hover {
  background: #1e6d5d;

}

.btn:active {
  background: #1e6d5d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}



.messages {
  display: flex;
  justify-content: center;
}

.error {
  z-index: 5;
  display: block;
  background-color: #500000;
  color: white;
  width: fit-content;
  height: inherit;
  padding: 5px;
  border: 1px solid rgb(95, 1, 1);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(55, 5, 5, 0.25);
  border-radius: 15px;
}

.success {
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
}
.successImage {
  display: block;
  justify-content: center;
  background-color: lightblue;
  color: black;
  width: fit-content;
  top: 10vh;
  margin: auto;
  height: 50px;
  padding: 5px;
  border-radius: 0px 0px 15px 15px;
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContent {
  background-color: #d5d5d5;
  margin: auto;
  z-index: 2;
  padding: 20px;
  color: rgb(0, 0, 0);
  border: 1px solid #888;
  border-radius: 15px;
  width: 80%;
}


.yesButton{
  display: inline-block;
  margin: 5px;
  width: 10%;
  height: 40px;
  background: #a80000;
  border: 1px solid #a80000;
  color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.noButton{
  display: inline-block;
  margin: 5px;
  width: 10%;
  height: 40px;
  background: #25907B;
  border: 1px solid #25907B;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
@media screen and (max-device-width:1800px) and (min-device-width: 600px) {

  nav button{
    font-size: 150%;
  }
  .noClick{    
    font-size: 150%;
  }
  .logout{    
    font-size: 150%;
  }

  .comments li{
    background: none;
  }
  .commentOwner{
    margin-block-start: 0em;
    height: 43px;
  }
  .commentOwner p{
    margin-top:0.5em;
    margin-bottom:0.5em;
  }
  
  .commentText{
    height: 43px;
  }

  .profile{
    width: 36px;
    height: 36px;
    font-size: 150%;
    line-height: 120%;
    top: 0.5vh;
  }

}


@media screen and (max-device-width: 400px) and (min-device-width: 200px) {
  
  .Home{
    margin-top: 5vh;
    width: 100vw;
  }
  .Upload{
    margin-top: 5vh;
  }
  
  .Home li{
    display: inline-block;
    padding-right: 10vw;
    width: 100vw;
  }
  .Post {
    min-width: 90%;
    width: 95%;

  }

  .TopBar {    
    position: fixed;
    width: 100vw;
    height: 5vh;
  }
  .logout{
    position: relative;
  }
  .logoutCollapsed{
    display: block;
    position: absolute;
    right: 1vw;
  }
  .menuCollapsed{
    display: inline-block;
  }
  .profileCollapsed{
    display: block;
    position: absolute;
    right: 10vw;
   background: #3b6a61;
  }
  .LogoCollapsed{
    display: inline-block;
    position: absolute;
    left: 1vw;
    top: 0.5vh;
    margin-left: 0;
    height: 70%;
    width: 10%;
  }
  .navBarNoCollapse{
    display: none;
  }

  nav button{
    font-size: 100%;
  }
  .navBarCollapsed{
    display: block;
    width: 100vw;
    
  }

  .navBarCollapsed nav{
    display: inline-block;
    
  }
  .navBarCollapse button{
    top: 00.5vh;
  }
  .reactions{
    width: 100vw;
  }
  .disLike{
    margin-right: 70vw;
  }
  .comments li{
    background: none;
  }
  .commentOwner{
    margin-block-start: 0em;
    height: 43px;
  }
  .commentOwner p{
    margin-top:0.5em;
    margin-bottom:0.5em;
  }
  
  .commentText{
    height: 43px;
  }
  .QRLogin{
    display: none;
  }
}